@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

li, a, h2, h1, h3, p, span{
font-family: "Roboto", sans-serif;
padding-top: 5px;
font-weight: 400;
font-size: 18px;
color: #4f5d75;
text-decoration: none;
}

.bar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color:#bfc0c0;
}

.logo{
    cursor: pointer;
    height: 100px;
    width: auto;   
}

.nav-bar {
    list-style: none;
    display: inline-block;

}
.nav-bar li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-bar li a{
    transition: all 0.3s ease 0s;
}
.nav-bar li a:hover {
    color: #ef8354;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin: 20px;
    color: #ef8354;
}

.name{
    font-size: 30px;

}

#about-me {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.container-left, #skills {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.container-left {
    width: 50%;
}

.container-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#skills {
    margin: 2rem 0 2rem 0;
}

.icon{
    color: #4f5d75;
    padding: 5px;
    text-align: center;
}
.profile-pic{
    width: 25rem;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.9;
    margin-top: 20px;
}

a{
    transition: all 0.3s ease 0s;
}
a:hover {
    color: #ef8354;
}


span.weak{
    font-weight: lighter;
    font-size: 18px;
}
.row{
    padding-left: 10%;
    padding-right: 10%;
}

.skill-image{
    height: 100px;
    width: auto; 
    margin: 10px;  
}



/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

/* NEW */


@media only screen and (max-width: 800px) {
    .container-left {
        order: 3;
    }
    .container-right {
        order: 2;
    }
}

@media only screen and (max-width: 400px) {
    .profile-pic {
        width: 12rem;
    }
}